start-at-login = false
#
# accordian-padding = 30
#
# default-root-container-layout = 'tiles'

[gaps]
inner.horizontal = 8
inner.vertical = 8
outer.left = 8
outer.right = 8
outer.bottom = 8
outer.top = 8

[mode.main.binding]
# ? /
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

alt-shift-minus = 'resize smart -100'
alt-shift-equal = 'resize smart +100'

alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-b = 'workspace B' # Web browser
alt-c = 'workspace C' # Comms
alt-m = 'workspace M' # Music
alt-n = 'workspace N' # Notes
alt-t = 'workspace T' # Terminal

alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-b = 'move-node-to-workspace B'
alt-shift-c = 'move-node-to-workspace C'
alt-shift-m = 'move-node-to-workspace M'
alt-shift-n = 'move-node-to-workspace N'
alt-shift-t = 'move-node-to-workspace T'

alt-tab = 'workspace-back-and-forth'
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'
# ------------------------------
# App-specific settings
# ------------------------------

# Browser
## Safari
[[on-window-detected]]
if.app-id = 'com.apple.Safari'
run = 'move-node-to-workspace B'

## Zen
[[on-window-detected]]
if.app-id = 'app.zen-browser.zen'
run = 'move-node-to-workspace B'

# Comms
# slack, discord, messaging, Nick uses alt-l to cycle through them stacked
# (accordion layout)

## Slack
[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = 'move-node-to-workspace C'

## Discord
[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = 'move-node-to-workspace C'

## Messaging
[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = 'move-node-to-workspace C'

## Teams
[[on-window-detected]]
if.app-id = 'com.microsoft.teams2'
run = 'move-node-to-workspace C'

## Outlook
[[on-window-detected]]
if.app-id = 'com.microsoft.Outlook'
run = 'move-node-to-workspace C'

# Terminal
[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
run = 'move-node-to-workspace T'

# Notes
[[on-window-detected]]
if.app-id = 'md.obsidian'
run = 'move-node-to-workspace N'

# Music
[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace M'
